:root {
    --ppp: rgba(26, 95, 33, 1);
    --body-text-color: rgba(46, 49, 56, 1);
    --white-color: rgba(255, 255, 255, 1);
    --neutral-60: rgba(126, 132, 146, 1);
    --neutral-10: rgba(255, 255, 255, 1);
    --p-3: rgba(80, 198, 96, 1);
    --swatch-000000: rgba(0, 0, 0, 1);
    --gray-900: rgba(11, 15, 25, 1);
    --heading-text-color: rgba(9, 9, 9, 1);
    --white: rgba(255, 255, 255, 1);
    --gray-400: rgba(212, 215, 229, 1);
    --h-06-font-family: "Manrope-SemiBold", Helvetica;
    --h-06-font-weight: 600;
    --h-06-font-size: 16px;
    --h-06-letter-spacing: 0px;
    --h-06-line-height: 139.9999976158142%;
    --h-06-font-style: normal;
    --heading-heading-h-6-semibold-601-font-family: "Poppins-Medium", Helvetica;
    --heading-heading-h-6-semibold-601-font-weight: 500;
    --heading-heading-h-6-semibold-601-font-size: 16px;
    --heading-heading-h-6-semibold-601-letter-spacing: 0px;
    --heading-heading-h-6-semibold-601-line-height: 139.9999976158142%;
    --heading-heading-h-6-semibold-601-font-style: normal;
    --h-3-font-family: "Manrope-SemiBold", Helvetica;
    --h-3-font-weight: 600;
    --h-3-font-size: 24px;
    --h-3-letter-spacing: 0px;
    --h-3-line-height: 150%;
    --h-3-font-style: normal;
    --button-font-family: "Poppins-Medium", Helvetica;
    --button-font-weight: 500;
    --button-font-size: 16px;
    --button-letter-spacing: 0px;
    --button-line-height: 139.9999976158142%;
    --button-font-style: normal;
    --parya-font-family: "Manrope-Regular", Helvetica;
    --parya-font-weight: 400;
    --parya-font-size: 16px;
    --parya-letter-spacing: 0px;
    --parya-line-height: 32px;
    --parya-font-style: normal;
    --h-2-font-family: "Manrope-Bold", Helvetica;
    --h-2-font-weight: 700;
    --h-2-font-size: 48px;
    --h-2-letter-spacing: 0px;
    --h-2-line-height: 60px;
    --h-2-font-style: normal;
    --h-02-font-family: "Manrope-Bold", Helvetica;
    --h-02-font-weight: 700;
    --h-02-font-size: 45px;
    --h-02-letter-spacing: 0px;
    --h-02-line-height: 129.99999523162842%;
    --h-02-font-style: normal;
    --button-button-2-medium-500-font-family: "Manrope-SemiBold", Helvetica;
    --button-button-2-medium-500-font-weight: 600;
    --button-button-2-medium-500-font-size: 18px;
    --button-button-2-medium-500-letter-spacing: 0px;
    --button-button-2-medium-500-line-height: 24px;
    --button-button-2-medium-500-font-style: normal;
    --h-03-font-family: "Manrope-SemiBold", Helvetica;
    --h-03-font-weight: 600;
    --h-03-font-size: 34px;
    --h-03-letter-spacing: 0px;
    --h-03-line-height: 129.99999523162842%;
    --h-03-font-style: normal;
    --text-base-leading-6-font-normal-font-family: "Inter-Regular", Helvetica;
    --text-base-leading-6-font-normal-font-weight: 400;
    --text-base-leading-6-font-normal-font-size: 16px;
    --text-base-leading-6-font-normal-letter-spacing: 0px;
    --text-base-leading-6-font-normal-line-height: 24px;
    --text-base-leading-6-font-normal-font-style: normal;
    --shadow-l: 0px 4px 13px -2px rgba(19, 16, 34, 0.06),
      0px 4.800000190734863px 24.399999618530273px -6px rgba(19, 16, 34, 0.1);
  }
  