body, html {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #3fa94a;
  padding: 10px 0;
  z-index: 1000;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s;
  font-family: "DejaVu Sans Mono", monospace;
  font-size: 24px;
  font-weight: 600;
}

.navbar a:hover {
  background-color: #555;
}

section {
  min-height: 100vh;
  padding: 60px 10%;
}

h1 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

/* General Section Texts */

.section-text {
  flex: 1;
  z-index: 1; /* Place content above the background overlay */
  padding-left: 40px; /* Adjust as needed for spacing */
  line-height: 32px; /* Adjust the line height to your preference */
}
.section-text h1 {
  font-size: 24px; /* Adjust the font size as desired */
  margin: 1;
  align-self: stretch;
  font-family: "Oswald", sans-serif;;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  position: relative;
  letter-spacing: 0;
}
.section-text p {
  font-size: 16px;
}
.center-text {
  text-align: center;
}
.center-text h1 {
  display: inline-block;
}

/* Home Section */

.home-section {
  position: relative;
  width: 100%;
  height: 100vh; /* 100% of the viewport height */
  overflow: hidden; /* Hide any overflow from child elements */
  /* Background image and overlay */
  background-image: url('images/about_us_image.png');
  background-size: cover; /* Adjust image size as needed */
  background-position: center;
  background-repeat: no-repeat;
}
.background-image {
  /* Green overlay */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(10 69 16 / 80%); /* Semi-transparent green overlay */
}
.content {
  float: left; /* Float the text container to the left */
  width: 50%; /* Occupy 50% of the width (left half of the screen) */
  position: relative;
  z-index: 1; /* Place content above the background overlay */
  color: white; /* Text color on top of the green overlay */
  text-align: center; /* Center align text */
  /* Text styling */
  font-family: 'Your Font', Arial, sans-serif; /* Set your desired font */
}
.content h1 {
  font-size: 80px; 
  margin: 1;
  align-self: stretch;
  font-family: "Oswald", sans-serif;;
  font-weight: 800;
  text-shadow: 11px 11px 3px #000;
  color: white;
  line-height: 72px;
  position: relative;
  letter-spacing: 0;
}
.content p {
  font-size: 26px;
}

/* About Us Section */

.about-us-section {
  background-color: #3fa94a33; /* Replace with your desired background color */
  color: black; /* Text color for better contrast with the background */
  padding: 10px 0%;
}
.about-us-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 160px;
  padding-right: 160px;
}
.about-us-image img {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 450px;
  object-fit: cover;
}

/* Benefits Section */ 

.benefits-section {
  color: black;
  background-color: white;
  padding: 10px 0%;
}
.benefits-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 160px;
  padding-right: 160px;
}
.benefits-image img {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 450px;
  object-fit: cover;
}
.benefits-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 160px;
  padding-right: 160px;
}

/* Support Us Section */

/* Style for the "Support Us" section */
.support-us-section {
  color: black;
  background-color: #3fa94a33; /* Set your desired background color */
  padding: 60px 10%;
}
.support-us-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.support-us-image img {
  max-width: 100%; /* Make the image responsive */
  height: 450px;
  border-radius: 50px; /* Optional: Add border-radius for a softer look */
  object-fit: cover;
}
/* Style for support options (donations and volunteering) */
.support-options {
  margin-top: 30px; /* Add spacing between support options */
  display: flex;
  justify-content: space-between;
}
.donation-option,
.volunteer-option {
  flex: 1;
  padding: 20px;
}
/* Style for the "Donate Now" and "Become a Volunteer" buttons */
.donation-option a,
.volunteer-option a {
  display: inline-block;
  background-color: #3fa94a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
}
.donation-option a:hover,
.volunteer-option a:hover {
  background-color: #2d7e3a;
}

/* Contact Us Section */

.contact-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}
.contact-form h2 {
  text-align: center;
  margin: 0; 
}
.form-group {
  margin: 30px 0;
}

label {
  display: block;
  font-weight: bold;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  background-color: #3fa94a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #2d7e3a;
}

/* Style for the footer */
.footer {
  background-color: #000; /* Black background color */
  color: #3fa94a; /* Text color for the trademark and social media links */
  padding: 20px 0; /* Adjust padding as needed */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-left {
  text-align: left;
  margin: 0;
}

.footer-right {
  text-align: right;
  margin: 0;}

.footer-right a {
  color: #3fa94a; /* Color for the social media links */
  text-decoration: none;
  margin-right: 10px; /* Adjust spacing between links */
}
